.nav-input-item {
  margin-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 15px;
}

.erros-header {
  line-height: 30px;
  height: 30px;
}

.erros-header-label {
  font-weight: 500 !important;
  font-style: italic;
}

.erros-card {
  margin: 0 auto;
  width: 80rem;
}

.nav-item {
  margin-top: 15px;
}

@media only screen and (min-width: 768px) {
  .nav-select {
    justify-content: left !important;
    margin-left: 15px;
  }
}

@media only screen and (max-width: 767px) {
  .nav-select {
    justify-content: center !important;
  }
}

.content {
  margin-top: 30px;
  background-color: #ffffff;
}

.log {
  font-weight: 300;
}

.botao-acao {
  margin-top: 15px;
  margin-left: 15px;
  padding: 5px !important;
}

.nenhum-erro {
  padding-top: 30px;
  padding-bottom: 30px;
}