.nome-item {
  text-align: left !important;
  height: 40px;
  line-height: 40px;
}

.nome {
  font-size: 25px;
}

.token-item {
  text-align: left !important;
  height: 40px;
  line-height: 40px;
}

.token {
  font-style: italic;
  font-size: 18px;
  color: #7d7d7d;
  font-weight: 300;
}

.bold-label {
  font-weight: 400;
}

.btn-logout {
  padding-left: 0 !important;
}

@media only screen and (min-width: 768px) {
  .logout-item {
    text-align: right !important;
  }
}

@media only screen and (max-width: 767px) {
  .logout-item {
    text-align: left !important;
  }
}