.homepage-container {
  min-height: 100vh;
  background: #0bc3bf;
  background: -webkit-linear-gradient(to bottom right, #0bc3bf, #b0f4e6);
  background: linear-gradient(to bottom right, #0bc3bf, #b0f4e6);
}